
.slider{
	
	width: 80vw;
	height: auto;
	margin: auto;
	overflow: hidden;
}

.slider .slide-track{
	display: flex;
	animation: scroll 40s lienar infinite;
	-webkit-animation: scroll 40s linear infinite;
	width: calc(200px * 30);
}

.slider .slide{
	width: 200px;
	
}

.slider .slide img{
	
	height: 80px;
	width: 100%;
}

@keyframes scroll {
	
	0%{
		-webkit-transform: translateX(0);
		transform: translatex(0);
	}
	100%{
		-webkit-transform: translateX(calc(-200px * 15));
		transform: translateX(calc(-200px * 15));
	}
}



